.login-form {
  display: block;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  width: 380px;
}

.login-form .modal-body {
  margin-top: 10px;
}

.login-form .form-control {
  margin-bottom: 15px;
}

header .header__menu {
  padding-top: 4px;
}

header .header__menu .logout-form {
  display: inline;
}

header .header__menu .logout-button {
  margin-top: -4px;
  margin-left: 5px;
  padding: 2px 2px 0 5px;
  background: transparent;
  color: #f6f6f6;
}

header .header__menu .logout-button:hover {
  color: #4d8618;
  background-color: #fff;
}
