/* エラー画面 */

.error .error-details {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 9.5px;
}

.error .error-details {
    background-color: #ddd;
}

.error .error-details dd {
    margin-left: 15px;
}

.error .snippet,
.error .stack {
    background-color: #f6f6f6;
}

.error .snippet code {
    display: block;
}

.error  .line.error {
    background-color: #fdd;;
}
