/* スキャフォルド */

.pagination * {
    margin: 0 .5em;
}

.toolbar .navbar-text {
    margin-left: 0;
}

.toolbar .navbar-form {
    margin-top: 12px;
}

fieldset.buttons {
    margin-top: 30px;
    margin-right: -15px;
    margin-left: -15px;
}

.form label {
    margin-top: -3px;
}

.form-control {
    font-size: 16px;
}

.form-control.display {
    background: inherit;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-top: 9px;
    padding-left: 0px;
}

textarea.form-control {
    height: 6em;
}

.form-control[type="checkbox"] {
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 18px;
}

.form-control[type="number"] {
    width: 135px;
}

.form-control[type="range"] {
    box-shadow: none;
}

.form-control.datepicker {
    width: 180px;
    background-color: #fff;
    border-radius: 0 4px 4px 0 !important;
}

.form-control.datetime {
    width: 218px;
}

.picker * {
    transition: none;
}

.picker__weekday {
    text-align: center;
}

@media screen and (min-width: 860px) {
    .form-control {
        max-width: 80%;
    }
}
