/* スキャフォルド */

.scaffold-show dt,
.scaffold-show dd {
    line-height: 2.5em;
}

.scaffold-show .property-label {
    text-align: right;
}

.pagination * {
    margin: 0 .5em;
}

.toolbar .navbar-text {
    margin-left: 0;
}

.toolbar .navbar-form {
    margin-top: 12px;
}
